<!-- <div class="container codepens" class="">
    <div class="row t">
        <h4>Codepens by <a href='http://codepen.io/danny_pule' target="_blank">@dannypule</a></h4>
    </div> 
</div>
 -->
 <br><br>
<div class="desktop-container">

	<h3 class="text-center">React.js/Redux Gold and Bitcoin Wallet</h3>
	<!-- <h5 class="text-center">Inspired by <a href="https://dribbble.com/shots/1054954-Instagram-Logo?list=shots&sort=popular&timeframe=ever&offset=5" target="_blank">this dribble post</a></h5> -->
	<iframe height='800' scrolling='no' src='//codepen.io/danny_pule/embed/zKYbmP/?height=796&theme-id=14066&default-tab=result' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/danny_pule/pen/ZGdZKJ/'></a> by Danny Pule (<a href='http://codepen.io/danny_pule'>@danny_pule</a>) on <a href='http://codepen.io'>CodePen</a>.
	</iframe>

	<br><br><br>

	<h3 class="text-center">Angular Weather Forecast App</h3>
	<!-- <h5 class="text-center">Inspired by <a href="https://dribbble.com/shots/1054954-Instagram-Logo?list=shots&sort=popular&timeframe=ever&offset=5" target="_blank">this dribble post</a></h5> -->
	<iframe height='800' scrolling='no' src='//codepen.io/danny_pule/embed/ZGdZKJ/?height=796&theme-id=14066&default-tab=result' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/danny_pule/pen/ZGdZKJ/'></a> by Danny Pule (<a href='http://codepen.io/danny_pule'>@danny_pule</a>) on <a href='http://codepen.io'>CodePen</a>.
	</iframe>

	<br><br><br>

	<h3 class="text-center">React.js User Management App</h3>
	<!-- <h5 class="text-center">Inspired by <a href="https://dribbble.com/shots/1054954-Instagram-Logo?list=shots&sort=popular&timeframe=ever&offset=5" target="_blank">this dribble post</a></h5> -->
	<iframe height='800' scrolling='no' src='//codepen.io/danny_pule/embed/ZWPaoR/?height=796&theme-id=14066&default-tab=result' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/danny_pule/pen/ZGdZKJ/'></a> by Danny Pule (<a href='http://codepen.io/danny_pule'>@danny_pule</a>) on <a href='http://codepen.io'>CodePen</a>.
	</iframe>

	<br><br><br>

	<h3 class="text-center">Old Master built using Sass</h3>
	<h5 class="text-center">Lovingly coded by Danny Pule based on the excellent design found on <a href="https://dribbble.com/shots/2218470-Old-master" target="_blank">this Dribbble post</a></h5>
	<iframe height='800' scrolling='no' src='//codepen.io/danny_pule/embed/RWbYMq/?height=796&theme-id=14066&default-tab=result' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/danny_pule/pen/RWbYMq/'></a> by Danny Pule (<a href='http://codepen.io/danny_pule'>@danny_pule</a>) on <a href='http://codepen.io'>CodePen</a>.
	</iframe>

	<br><br><br>

	<h3 class="text-center">Menu Transition Animation</h3>
	<!-- <h5 class="text-center">Inspired by <a href="https://dribbble.com/shots/1054954-Instagram-Logo?list=shots&sort=popular&timeframe=ever&offset=5" target="_blank">this dribble post</a></h5> -->
	<iframe height='800' scrolling='no' src='//codepen.io/danny_pule/embed/pEjEOR/?height=796&theme-id=14066&default-tab=result' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/danny_pule/pen/ZGdZKJ/'></a> by Danny Pule (<a href='http://codepen.io/danny_pule'>@danny_pule</a>) on <a href='http://codepen.io'>CodePen</a>.
	</iframe>

	<br><br><br>

	<h3 class="text-center">Login Form based on Instagram's Logo Colors</h3>
	<h5 class="text-center">Inspired by <a href="https://dribbble.com/shots/1054954-Instagram-Logo?list=shots&sort=popular&timeframe=ever&offset=5" target="_blank">this dribble post</a></h5>
	<iframe height='700' scrolling='no' src='//codepen.io/danny_pule/embed/ZGGvgq/?height=796&theme-id=14066&default-tab=result' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/danny_pule/pen/ZGGvgq/'></a> by Danny Pule (<a href='http://codepen.io/danny_pule'>@danny_pule</a>) on <a href='http://codepen.io'>CodePen</a>.
	</iframe>

	<br>

	<h3 class="text-center">Rotating Circles</h3>
	<h5 class="text-center">Inspired by <a href="http://www.mcaleicester.co.uk/if-the-lid-fits/" target="_blank">this website retro motorcyle helments</a></h5>
	<h5 class="text-center">Manipulate the speed and direction using magic!</h5>
	<iframe height='700' scrolling='no' src='//codepen.io/danny_pule/embed/QbQYvL/?height=796&theme-id=14066&default-tab=result' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/danny_pule/pen/QbQYvL/'></a> by Danny Pule (<a href='http://codepen.io/danny_pule'>@danny_pule</a>) on <a href='http://codepen.io'>CodePen</a>.
	</iframe>

	<br><br><br>

	<h3 class="text-center">Super Basic Angular Meal Planner™</h3>
	<h5 class="text-center">This simple prototype is something I made several months back while I was getting familar with the Angular framework.</h5>
	<iframe height='700' scrolling='no' src='//codepen.io/danny_pule/embed/mJJgBd/?height=796&theme-id=14066&default-tab=result' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/danny_pule/pen/mJJgBd/'></a> by Danny Pule (<a href='http://codepen.io/danny_pule'>@danny_pule</a>) on <a href='http://codepen.io'>CodePen</a>.
	</iframe>


</div>
