<div id="container" class="">
    <div id="backTop" class="card-panel hero-image"></div>

    <div class="row">
       <div id="mainContent" class="card-panel white col s12 m8 offset-m2 l6 offset-l3 z-depth-3">
            <hgroup class="row text-center">
                <img class="center main-img responsive-img" src="img/000122.png" alt="Danny Pule">
                <h1>Danny Pule</h1>
                <h5>UI Developer at <a href="http://www.ri-team.com/" target="_blank">RI</a></h5>
                <h5>London, England</h5>
            </hgroup>
            <div class="center-align col s12">
                <h5>When I'm not building something or learning about some new Front End technology you can find me scrolling through Dribbble.com appreciating the designs contained theirin.</h5>
                <br>
                <p><span class="bold">My skills include:</span> HTML, CSS, Javascript, Angular, JQuery, AJAX, Git, Bootstrap, Sass, Less</p>
            </div>
            <section id="socialMedia" class="center">
                <div class="socialMediaImages center">
                    <a href="https://github.com/dannypule" target="_blank"><i class="fa fa-github"></i></a>
                </div>
                <div class="socialMediaImages center">
                    <a href="https://www.linkedin.com/in/dannypule" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="socialMediaImages center">
                    <a href="https://twitter.com/danny_pule" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
                <div class="socialMediaImages center">
                    <a href="https://codepen.io/danny_pule/public-list/" target="_blank"><i class="fa fa-codepen"></i></a>
                </div>
            </section>
       </div>
    </div>
</div>
