<div id="container" class="portfolio">
    <div id="backTop" class="card-panel hero-image"></div>

    <div class="row" id="mainContent">
       <div class="card-panel white col s12 m10 offset-m1 l6 offset-l3 z-depth-1">
            <hgroup class="row text-center">
                <a href="https://www.kiqplan.com" target="_blank"><img class="center portfolio-img responsive-img" src="img/screen-kiqplan.png" alt="Danny Pule"></a>
                <a href="https://www.kiqplan.com" target="_blank"><h1>Kiqplan Website</h1></a>
                <h4>A sales and user registration website for users of Kiqplan mobile app.</h4>
                <br>
                <h5><span class="bold">My contribution:</span> SEO optimization, improving layout of existing pages, enhancing registration functionality, creating new backend tools for user management and bug fixing.</h5>
                <p>
                    <a href="https://www.kiqplan.com/">
                        Kiqplan Website link
                    </a>
                </p>
            </hgroup>
            <div class="center-align col s12">
                <p><span class="bold">Skills used:</span> HTML, CSS, Sass, Javascript, JQuery, PHP, AJAX, Git, Bootstrap</p>
            </div>
       </div>

       <div class="card-panel white col s12 m10 offset-m1 l6 offset-l3 z-depth-1">
            <hgroup class="row text-center">
                <img class="center portfolio-img responsive-img" src="img/osca.png" alt="Danny Pule">
                <h1>Analytics Dashboard</h1>
                <h4>A web app for RI analysts to test projected outcomes.</h4>
                <br>
                <h5><span class="bold">My contribution:</span> Leading the JavaScript aspects of the project. Working with the UX Manager to enhance the UX and design of the application. Working with product owners in an agile environment to develop new features.</h5>
                <p>
                    <a href="#">
                        Link not available as this was for an internal company project
                    </a>
                </p>
            </hgroup>
            <div class="center-align col s12">
                <p><span class="bold">Skills used:</span> Angular, Javascript, Node.js, Gulp, Git, Material Design, UX, Agile</p>
            </div>
       </div>

       <div class="card-panel white col s12 m10 offset-m1 l6 offset-l3 z-depth-1">
            <hgroup class="row text-center">
                <a href="https://support.kiqplan.com" target="_blank"><img class="center portfolio-img responsive-img" src="img/screen-kiqplan-support.png" alt="Danny Pule"></a>
                <a href="https://support.kiqplan.com" target="_blank"><h1>Kiqplan Support Center</h1></a>
                <h4>Help articles and email ticket submission for Kiqplan users</h4>
                <br>
                <h5><span class="bold">My contribution:</span> I heavily customized a very basic theme which only looked good on desktops and made it mobile ready. The look and feel of the site was also given an overhaul to bring it more in line with the Kiqplan branding.</h5>
                <p>
                    <a href="https://support.kiqplan.com/">
                        Kiqplan Support Website link
                    </a>
                </p>
            </hgroup>
            <div class="center-align col s12">
                <p><span class="bold">Skills used:</span> HTML, CSS, Git</p>
            </div>
       </div>

       <div class="card-panel white col s12 m10 offset-m1 l6 offset-l3 z-depth-1">
            <hgroup class="row text-center">
                <a href="https://www.kiqplan.com" target="_blank"><img class="center portfolio-img responsive-img" src="img/screen-kiqplan-app.png" alt="Danny Pule"></a>
                <a href="https://www.kiqplan.com" target="_blank"><h1>Kiqplan Mobile App version 2</h1></a>
                <h4>Personal Training App</h4>
                <br>
                <h5><span class="bold">My contribution:</span> Customizing the look and feel according to design briefs.</h5>
                <br>
                <p><a href="https://itunes.apple.com/gb/app/kiqplan-your-complete-health/id952729305?mt=8">iTunes app link</a></p>
                <p><a href="https://play.google.com/store/apps/details?id=com.fitbug.kiqplan&hl=en">Google Play app link</a></p>
            </hgroup>
            <div class="center-align col s12">
                <p><span class="bold">Skills used:</span> HTML, CSS, Sass, Git</p>
            </div>
       </div>

       <div class="card-panel white col s12 m10 offset-m1 l6 offset-l3 z-depth-1">
            <hgroup class="row text-center">
                <a href="https://www.appsme.com/get-started" target="_blank"><img class="center portfolio-img responsive-img" src="img/appsme_getstarted.png" alt="Danny Pule"></a>
                <a href="https://www.appsme.com/get-started" target="_blank"><h1>Appsme Landing Page</h1></a>
                <h4>A landing page for Appsme marketing campaigns.</h4>
                <br>
                <h5><span class="bold">My contribution:</span> Design, sourcing and processing images, layout of page elements, optimizing for various screen sizes. </h5>
                <p>
                    <a href="https://www.appsme.com/get-started" target="_blank">
                        Appsme website link
                    </a>
                </p>
            </hgroup>
            <div class="center-align col s12">
                <p><span class="bold">Skills used:</span> HTML, CSS, Less, Javascript, JQuery, Git, Bootstrap</p>
            </div>
       </div>

       <!--<div class="card-panel white col s12 m10 offset-m1 l6 offset-l3 z-depth-1">
            <hgroup class="row text-center">
                <a href="./sites/flexboxy/app" target="_blank"><img class="center portfolio-img responsive-img" src="img/screen-flexboxy.png" alt="Danny Pule"></a>
                <a href="./sites/flexboxy/app" target="_blank"><h1>Flexboxy</h1></a>
                <h4>A flexbox playground</h4>
                <br>
                <h5><span class="bold">My contribution:</span> I built this tool using Angular and JQuery. (This is a work in progess)</h5>
                <p>
                    <a href="./sites/flexboxy/app/">
                        Flexboxy link
                    </a>
                </p>
            </hgroup>
            <div class="center-align col s12">
                <p><span class="bold">Skills used:</span> HTML, CSS, Angular, JQuery</p>
            </div>
       </div>-->

       <!-- <div class="card-panel white col s12 m10 offset-m1 l6 offset-l3 z-depth-1">
            <hgroup class="row text-center">
                <a href="http://dannypule.com/sites/lobsterpot" target="_blank"><img class="center portfolio-img responsive-img" src="img/screen-lobsterpot.png" alt="Danny Pule"></a>
                <a href="http://dannypule.com/sites/lobsterpot" target="_blank"><h1>Lobsterpot</h1></a>
                <h4>A fictional restaurant's website that I created because I loved <a href="https://dribbble.com/shots/1449570-Urbanspoon-Homepage/attachments/214271" target="_blank">this design</a> so much</h4>
                <br>
                <h5><span class="bold">My contribution:</span> Creating the layout, sourcing images, optimizing images for better performance.</h5>
                <p>
                    <a href="http://dannypule.com/sites/lobsterpot/">
                        Lobsterpot link
                    </a>
                </p>
            </hgroup>
            <div class="center-align col s12">
                <p><span class="bold">Skills used:</span> HTML, CSS</p>
            </div>
       </div> -->
    </div>
</div>
